html, body {
	background-color:#E4FBFF;
	font-family: Soleil,Arial,sans-serif;
	font-size: 16px;
	margin: 0px;
}

h1, h3 {
	color:#66BFBF;
}

div {
	padding: 2%;
	margin: 0px;
}

a {
	color:#3b3eff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.cloud-img {
	margin: 0px;
	max-width: 130px;
	width: 20%;
}

/***********************************Footer-CSS***********************************/

footer {
	height: 600px;
	max-height: 600px;
	min-height: 300px;
}

footer a {
	margin: 0px;
}

#scenery {
	height: 80%;	/*500px*/
	margin-bottom: 0px;
	vertical-align: top;
	width: 100%;
}

#windmill {
	height: 200px;
	margin-left: 50%;
	position: absolute;
	right: 2%;
	width: 160px;
}

#footer-content {
	background-color: #00774f;
	margin: 0px;
	padding: 10px;
}

.footer-column {
	display: inline-block;
	vertical-align: top;
}

.footer-cont-title {
	margin-bottom: 8px;
}

footer a {
	color: #7679ff;
}

