html,body {
	background-color:#E4FBFF;
	font-family: Soleil,Arial,sans-serif;
	margin: 0px;
}

h1,h3 {
	color:#66BFBF;
}

div {
	padding: 2%;
	margin: 0px;
}

a {
	color:#3b3eff;
	text-decoration: none;
}

footer {
	background-color: #00774f;
	border-top-left-radius: 100%;
	border-top-right-radius: 100%;
	height: 100px;
}
